# Python
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境与依赖
.venv/
venv/
env/
ENV/
ENV.bak/
pyenv/
build/
dist/
venv*/       # 兼容性
*.egg-info/
*.egg

# IDE / 编辑器
.idea/
.vscode/

# PyInstaller
*.spec

# Logs and temporary files
*.log
*.tmp
*.temp

# 操作系统产生的文件
Thumbs.db
Desktop.ini
.DS_Store
$Recycle.Bin/

# 你可根据需要保留的文件（如图标、源码等）不要放到这里
# app_icon.ico